.container {
    margin-block-start: 60px;
    position: relative;
    padding: 10px;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.formatItem {
    padding: 10px;
    margin: 10px;
    /* stylelint-disable-next-line color-named */
    border: 1px solid lightblue;
    cursor: pointer;
}

.formatContainer {
    display: flex;
}
