.container {
    margin-block-start: 60px;
    position: relative;
    padding: 10px;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.formatContainer {
    display: flex;
    flex-wrap: wrap;
}
